body {
    padding: 16px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
    background: transparent;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    -webkit-transition: color .3s ease;
    transition: color .3s ease;
}

ul, li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.markdown {
    padding-right: 160px;
}
.markdown h1, .markdown h2 {
	border-bottom: 1px solid #eaecef;
    padding-bottom: .3em;
}
.markdown underline {
	border-bottom: 1px solid red;
	font-weight: bold;
	color: red;
}
.markdown bg {
	background-color: #ffec3d;
}

.markdown pre {
	margin-bottom: 20px;
    font-size: 13px;
    word-wrap: normal;
    word-break: break-word!important;
    word-break: break-all;
    white-space: pre;
    overflow: auto;
    border-radius: 4px;
    display: block;
    overflow-x: auto;
    padding: .5em;
    color: #abb2bf;
    background: #282c34;
    tab-size: 4;
}

.markdown a {
    cursor: pointer;
}

.toc-affix {
    position: fixed;
    top: 24px;
    right: 49px;
}

.toc {
    font-size: 14px;
    margin: 24px 0;
    border-left: 1px solid #e9e9e9;
    list-style: none;
}
.demos-anchor {
    color: #aaa;
    font-size: 12px;
    margin-top: -4px;
    background-color: #fff;
}

.toc a {
    padding-left: 16px;
    display: block;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    white-space: nowrap;
    overflow: hidden;
    color: rgba(0,0,0,.65);
}

.demos-anchor a {
    padding-left: 8px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 110px;
}

.vtx_404_page  {
    height: 100%;
    font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    color: #676a6c;
    overflow-x: hidden;
}
.vtx_404_page .middle_box  {
    max-width: 400px;
    z-index: 100;
    margin: 0 auto;
    padding-top: 40px;
    text-align: center;
}
.vtx_404_page .middle_box h1, h3 {
    font-family: inherit;
    line-height: 1.1;
    color: inherit;
}
.vtx_404_page .middle_box h1 {
    margin: .67em 0;
    font-size: 170px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 100;
}
.vtx_404_page .middle_box h3 {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 5px;
}