<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/stylesheets/clipboard.min.js"></script>
  </head>
  <body class="markdown">
	<% for(var i in list){ %>
		<h3><%= list[i].name %></h3>
		<pre id="code<%= i%>"><%= list[i].content %></pre>
	<% } %>
  </body>
</html>
