body {
  	padding: 16px;
  	font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
	font-size: 16px;
	line-height: 1.5;
}

a {
  	color: #0366d6;
}
a:hover {
	cursor: pointer;
    text-decoration: underline;
}
.markdown h1, .markdown h2 {
	border-bottom: 1px solid #eaecef;
    padding-bottom: .3em;
}
.markdown underline {
	border-bottom: 1px solid red;
	font-weight: bold;
	color: red;
}
.markdown bg {
	background-color: #ffec3d;
}

.markdown pre {
	margin-bottom: 20px;
    padding: 15px;
    font-size: 13px;
    word-wrap: normal;
    word-break: break-word!important;
    word-break: break-all;
    white-space: pre;
    overflow: auto;
    border-radius: 4px;
    display: block;
    overflow-x: auto;
    padding: .5em;
    color: #abb2bf;
    background: #282c34;
}