extends layout

block content
  <div class="markdown">
    h1= title
    p 源码：<a>https://github.com/yemuguliunian/vtx-code-cli</a>
    h2 立意
    p 减少重复繁琐的工作，利用节省的时间去审查代码，学习新知识，实现个人和公司双赢的局面
    <p style="color: red">不可避免的是代码风格的统一，当然实话来说CURD就是个体力活，谁愿意去一个个去写呢</p>
    h2 面向群体
    p 公司内部前端研发
    h2 优缺点
    li 重复繁琐的工作通过配置工具自动生成 <underline>初始（划重点，不可能生成即用）</underline> 模板
    li 代码风格统一，项目中的CURD各组协调应该会比较方便吧
    li <bg>可能代表更多的工作量？</bg>
    h2 涉及知识点
    h3 nodejs 
    p 基于 Chrome V8 引擎的 JavaScript 运行环境
    p <a>http://nodejs.cn/</a>
    h3 nodemon
    p nodejs开发辅助工具，自动重启服务
    p <a>https://www.npmjs.com/package/nodemon</a>
    h3 express
    p 基于Node.js 平台,快速、开放、极简的 Web 开发框架
    p <a>http://www.expressjs.com.cn/</a>
    p <a>https://www.npmjs.com/package/express</a>
    h3 express-generator
    p express应用生成器
    p <a>http://expressjs.com/en/starter/generator.html</a>
    h3 morgan
    p Express框架 中间件记录日志
    p <a>https://www.npmjs.com/package/morgan</a>